<div class="about">

    <div class="slide11">
        <h1 class="about_title">Our Mission</h1>
        <p class="about_p">At BookTown, we are looking to make an accessible book store with a wide variety of options for users all over the world.</p>
        <img class="books" data-wow-delay=".5s" src="../../public/assets/books.jpg" alt="responsive design">







    </div>

    <div class="slide22">
        <h1 class="about_title">How it Works...</h1>
        <p class="about_p2">After creating an account and signing in, the user will be able to sort through and browse a catalog of books    
        </p>
        <h1 class = "subtitle2">Other Features</h1>
         <ul class="list_text">
         <li>Sort through different genres and types of books</li>
         <li>See daily reccomendations of popular books</li>
         <li>Purchase books and have access to them instantly </li>
        <li>View account and billing information</li>
      </ul>

        <img class="books2" data-wow-delay=".5s" src="../../public/assets/logo_bk200.jpg" alt="responsive design">
    </div>
   <div class="slide33">
        <h1 class="about_title">What's Next?</h1>
        <p class="about_p2">With the neccessary resources we would implement a personal reccomendation system that touches user data of books both looked at and purchased to give a list of books the user may enjoy.</p><br><br><br><p class ="list_text"> In the future, we would also love to develop a mobile app to give even more accessability to people regardless of where they are.</p>
        <img class="books3" data-wow-delay=".5s" src="../../public/assets/ios.png" alt="responsive design">







    </div>





</div>
<div class="bottom"><a class="btn_home wow fadeIn" data-wow-delay=".7s" href="/">Home</a></div>
