<div class="about">

    <div class="slide11" style="display:flex; align-item:center; justify-content:center;">
        <div style="display: flex;flex-direction: column;">
            <h1 class="about_title">Our Mission</h1>
            <p class="about_p">At BookTown, we are looking to make an accessible book store with a wide variety of options for users all over the world.</p>
            <img class="books" style="position: relative;" data-wow-delay=".5s" src="../../public/assets/books.jpg" alt="responsive design">
            <div class="bottom"><a class="btn_home wow fadeIn" data-wow-delay=".7s" href="/">Home</a></div>
        </div>
    </div>


    <div class="slide22" style="display:flex; align-item:center; justify-content:center;">
        <div>
            <h1 class="about_title">How it Works...</h1>
            <p class="about_p2">After creating an account and signing in, the user will be able to sort through and browse a catalog of books. Users can add books to their cart and complete their purchase when ready.
            </p>
            <h1 class="subtitle2">Other Features</h1>
            <ul class="list_text">
                <li>Sort through different genres and types of books</li>
                <li>See daily recommendations of popular books</li>
                <li>Purchase books and have access to them instantly </li>
                <li>View account and billing information</li>
            </ul>

            <div class="bottom"><a class="btn_home wow fadeIn" data-wow-delay=".7s" href="/">Home</a>
            </div>
        </div>
    </div>
    <div class="slide33" style="display:flex; align-item:center; justify-content:center;">
        <div>
            <h1 class="about_title">What's Next?</h1>
            <p class="about_p2">With the neccessary resources we would implement a personal recommendation system that touches user data of books both looked at and purchased to give a list of books the user may enjoy.</p><br><br><br>
            <p class="list_text"> In the future, we would also love to develop a mobile app to give even more accessability to people regardless of where they are.</p>
            <img class="books3" style="width:20%;" data-wow-delay=".5s" src="../../public/assets/ios.png" alt="responsive design">
            <div class="bottom"><a class="btn_home wow fadeIn" data-wow-delay=".7s" href="/">Home</a>

            </div>
        </div>





    </div>
</div>
